/* Styling overriding PrimeFaces */

/* Table details */
.centeredColumn {
	text-align: center; 
}

.booleanButton {
	width: 50px;
}

.basicform {
 	height: 490px;
 }

/* Setting styles */

.settingCheckbox {
	margin-left: 3px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.settingGrid {
	padding-top: 55px;
	padding-left: 55px;
}

/* Chat styles */

.chattInput {
	width: 334px;
}


.clickableSeat {
    border: 1px solid black !important;
    background-color: tomato !important;
    display:block !important;
    color: black !important;
    padding: 0px !important;
    border: 0px !important;
    margin: 0px !important;
}

.dataGridStyle {
    padding: 0px;
    border: 0px;
    margin: 0px;
}


.clickableSeat:hover {
    background-color: #4a5d75 !important;
}


.seat {
    font-size: small !important;
    width: 50px !important;
    background-color: darkgreen !important;
}
.seat:disabled {
    background-color: darkred !important;
}

.seat:focus {
    background-color: #fdd106 !important;
    color: black !important;
}

.separator {
    padding: 1px !important;
    margin: 0px !important;
    border: 0px !important;
    color: rgba(255, 255, 255, 0) !important;
    background-color:rgba(255, 255, 255, 0) !important;
}


.ui-panel .ui-panel-content {
    padding: 0 !important;
}

/* Table details */
.topAligned {
    vertical-align: top;
}

.fixedWidth {
    width: 25%;
}



