/* Core styles for the page */
body {
	margin: 0;
	padding: 0;
	background-color: #F1F1F1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.8em;
	color: #363636;
}

#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	border-top: 5px solid #000000;
	border-left: 5px solid #8c8f91;
	border-right: 5px solid #8c8f91;
	border-bottom: 25px solid #8c8f91;
	width: 1000px; /* subtract 40px from banner width for padding */
	background: #FFFFFF;
	background-image:
		url(#{request.contextPath}/resources/gfx/headerbkg.png);
	background-repeat: repeat-x;
	padding-top: 30px;
	box-shadow: 3px 3px 15px #d5d5d5;
}

#content {
	float: left;
	width: 670px;
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	
}

#aside {
	font-size: 0.9em;
	width: 265px;
	float: left;
	margin-left: 0px;
	margin-top: 20px;
	border: 1px solid #D5D5D5;
	background: #F1F1F1;
	background-image: url(#{request.contextPath}/resources/gfx/asidebkg.png);
	background-repeat: repeat-x;
	padding: 20px;
}

#headbanner {
	max-width: 100%;
}

#footer {
	clear: both;
	text-align: center;
	color: #666666;
	font-size: 0.85em;
}

a {
	color: #4a5d75;
	text-decoration: none;
}

a:hover {
	color: #369;
	text-decoration: underline;
}

h1 {
	color: #243446;
	font-size: 2.25em;
}

h2 {
	font-size: 1em;
}

h3 {
	color: #243446;
}

h4 {
	
}

h5 {
	
}

h6 {
	
}


