<h2>Confirmation</h2>


<p-panel header="Travel details">




  <table *ngIf="selectedFlight && departure && destination && selectedSeat" class="border">
    <tbody>
    <tr>
      <td>From:</td>
      <td>{{ departure.name }}</td>
    </tr>
    <tr>
      <td>To:</td>
      <td>{{ destination.name }}</td>
    </tr>
    <tr>
      <td>Departure date:</td>
      <td>{{ selectedFlight.departureTime | date }}</td>
    </tr>
    <tr>
      <td>Departure time:</td>
      <td>{{ selectedFlight.departureTimeFormatted }}</td>
    </tr>
    <tr>
      <td>Arrival date:</td>
      <td>{{ selectedFlight.arrivalTime | date }}</td>
    </tr>
    <tr>
      <td>Arrival time:</td>
      <td>{{ selectedFlight.arrivalTimeFormatted }}</td>
    </tr>
    <tr>
      <td>Chosen seat:</td>
      <td>{{ selectedSeat.seatNumber }}</td>
    </tr>
    </tbody>
  </table>
</p-panel>



<p-panel header="Customer details">
  <table
    *ngIf="bookingFormCredentials.get('firstName').value
              && bookingFormCredentials.get('lastName').value
              && bookingFormCredentials.get('email').value
              && bookingFormPayment.get('payer').value
              && bookingFormPayment.get('creditcard').value">
    <tbody>

    <tr>
      <td>First name:</td>
      <td>{{ bookingFormCredentials.get('firstName').value }}</td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td>{{ bookingFormCredentials.get('lastName').value }}</td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>{{ address }}</td>
    </tr>
    <tr>
      <td>City:</td>
      <td>{{ city }}</td>
    </tr>

    <tr>
      <td>Postal nr:</td>
      <td>{{ postalNr }}</td>
    </tr>

    <tr>
      <td>email:</td>
      <td>{{ bookingFormCredentials.get('email').value }}</td>
    </tr>

    <tr>
      <td>Credit card owner:</td>
      <td>{{ bookingFormPayment.get('payer').value }}</td>
    </tr>


    <tr>
      <td>Credit card:</td>
      <td>{{ bookingFormPayment.get('creditcard').value }}</td>
    </tr>

    </tbody>
  </table>

</p-panel>

<div class="inlineBlock">
  <button pButton type="button" (click)="makeReservation()" label="Make reservation" class="rightAligned"></button>
  <button pButton type="button" (click)="goBackTab()" label="Back" class="leftAligned"></button>
</div>
