/* You can add global styles to this file, and also import other style files */
body {
  background: #cce5fb;
  background: #0147A7;
  color: #fff;
  margin: 0px;
  border: 0px;
  padding: 0px;
}


.rightAligned {
  float: right;
  padding: 20px;
}

.leftAligned {
  float: left;
  padding: 20px;
}

.inlineBlock {
  padding-top: 10px;
  display: inline-block;
  width: 100%;
}

.border {
  padding: 10px;
  border: solid 2px #dde3e7;
  border-radius: 5px;
}
