<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:panel header="Confirmation">

        <p:messages></p:messages>
        <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
            <h:panelGrid columns="2" columnClasses="label, value">
                <h:outputText value="Firstname: "/>
                <h:outputText value="#{bookingController.credentials.firstname}" styleClass="outputLabel"/>

                <h:outputText value="Lastname: "/>
                <h:outputText value="#{bookingController.credentials.lastname}" styleClass="outputLabel"/>

                <h:outputText value="Age: "/>
                <h:outputText value="#{bookingController.credentials.age}" styleClass="outputLabel"/>
            </h:panelGrid>

            <h:panelGrid columns="2" columnClasses="label, value">
                <h:outputText value="Street: "/>
                <h:outputText value="#{bookingController.credentials.street}" styleClass="outputLabel"/>

                <h:outputText value="Postal: "/>
                <h:outputText value="#{bookingController.credentials.postalCode}" styleClass="outputLabel"/>

                <h:outputText value="City: "/>
                <h:outputText value="#{bookingController.credentials.city}" styleClass="outputLabel"/>
            </h:panelGrid>

            <h:panelGrid columns="2" columnClasses="label, value">
                <h:outputText value="Email: "/>
                <h:outputText value="#{bookingController.credentials.email}" styleClass="outputLabel"/>

                <h:outputText value="Phone "/>
                <h:outputText value="#{bookingController.credentials.phone}" styleClass="outputLabel"/>

                <h:outputText/>
                <h:outputText/>
            </h:panelGrid>


            <h:panelGrid columns="2" columnClasses="label, value">
                <h:outputText value="Credit Card: "/>
                <h:outputText value="#{bookingController.credentials.creditcardFiltered()}"
                              styleClass="outputLabel"/>

                <h:outputText value="Payer "/>
                <h:outputText value="#{bookingController.credentials.creditcard_payer}"
                              styleClass="outputLabel"/>

                <h:outputText/>
                <h:outputText/>
            </h:panelGrid>


            <h:panelGrid columns="1" columnClasses="label, value">
                <h:outputText value="Seat nr: "/>
                <h:outputText value="#{bookingController.selectedSeat}" styleClass="outputLabel"/>

                <h:outputText/>
                <h:outputText/>
            </h:panelGrid>

        </h:panelGrid>

        <p:commandButton value="Submit" actionListener="#{bookingController.book}" update="bookingMessage" process="@this"/>


    </p:panel>


</ui:composition>