<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:panel header="Personal Details">
        <p:messages />
            <h:panelGrid columns="2" columnClasses="label, value">
                <h:outputText value="Firstname: *" />
                <p:inputText value="#{bookingController.credentials.firstname}" required="true" label="Firstname" requiredMessage="First name required">
                </p:inputText>

                <h:outputText value="Lastname: *" />
                <p:inputText value="#{bookingController.credentials.lastname}" required="true" label="Lastname" requiredMessage="Last name required">
                </p:inputText>

                <h:outputText value="Street: "/>
                <p:inputText value="#{bookingController.credentials.street}"/>

                <h:outputText value="Postal Code: "/>
                <p:inputText value="#{bookingController.credentials.postalCode}" type="number" maxlength="5" />

                <h:outputText value="City: "/>
                <p:inputText value="#{bookingController.credentials.city}"  />

                <h:outputText value="Email: *"/>
                <p:inputText value="#{bookingController.credentials.email}" required="true" label="Email"
                             requiredMessage="email required"
                             validatorMessage="Invalid email address">
                    <f:validateRegex
                            pattern="^[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"></f:validateRegex>
                </p:inputText>

                <h:outputText value="Phone: "/>
                <p:inputText value="#{bookingController.credentials.phone}"/>

            </h:panelGrid>

    </p:panel>

</ui:composition>