<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:panel header="Seat Details">

        <p:messages autoUpdate="true" showDetail="true" />

        <h3 class="centeredColumn">Please choose a Seat</h3>
        <h:panelGrid styleClass="ui-g" id="panelGridForSeats" bodyrows="1" columns="2"
                     columnClasses="topAligned, topAligned">

            <p:panel id="details">
                <h:panelGrid columns="2" bodyrows="3" cellpadding="5">

                    <h:outputLabel value="Destination: "/>
                    <h:outputText value="#{bookingController.currentDestination.name}"/>

                    <h:outputLabel value="Chosen date: "/>
                    <h:outputText value="#{bookingController.currentDate}"/>

                    <h:outputLabel value="Chosen flight: "/>
                    <h:outputText value="#{bookingController.chosenFlight}"/>

                    <h:outputLabel value="Chosen seat: " for="chosenSeat" validatorMessage="Seat required" />

                    <h:outputText id="chosenSeat" value="#{bookingController.selectedSeat}"
                                  rendered="#{bookingController.selectedSeat gt 0}"/>
                    <h:outputText value=" " rendered="#{bookingController.selectedSeat lt 1}"/>

                    <h:outputLabel value="Price:" for="price"/>
                    <h:outputText id="price" value="#{bookingController.chosenFlight.price}"/>
                </h:panelGrid>
            </p:panel>

            <p:panel>
                <ui:repeat value="#{bookingController.seats}" var="seat">
                    <p:separator styleClass="separator" layout="block"
                                 rendered="#{(seat.seatNumber-1) % 5 == 0}"></p:separator>
                    <p:commandButton
                            styleClass="seat"
                            value="#{seat.seatNumber}"
                            disabled="#{ bookingController.reservedForFlight(seat.seatNumber, bookingController.chosenFlight.id) }">
                        <p:ajax update="@form:details"
                                listener="#{bookingController.reserve(seat.seatNumber)}"/>
                    </p:commandButton>
                </ui:repeat>
            </p:panel>
        </h:panelGrid>
    </p:panel>

</ui:composition>