<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:panel header="Travel Details">
        <p:messages  autoUpdate="true" showDetail="true" />
        <h:panelGrid columns="2" columnClasses="topAligned, topAligned">
            <p:panel styleClass="topAligned">
                <p:outputPanel rendered="true"> 
                    <h:panelGrid columns="2" columnClasses="label, value">
                        <p:outputLabel value="From: " for="departure_airport" styleClass="fixedWidth"/>
                        <p:autoComplete id="departure_airport"
                                        value="#{bookingController.currentDeparture}"
                                        completeMethod="#{bookingController.completeAirport}"
                                        converter="#{bookingController.airportDOConverter}"
                                        var="ap"
                                        itemLabel="#{ap.name}"
                                        itemValue="#{ap}"
                                        forceSelection="true"
                                        required="true"

                                        validatorMessage="Validation failed"
                                        requiredMessage="Departure airport required"
                                        >

                            <p:ajax update="@this @form:flightsTable"
                                    oncomplete="#{bookingController.updateAvailableFlights()}"/>
                            />

                        </p:autoComplete>

                        <p:outputLabel value="To: " for="desination_airport"
                                       styleClass="fixedWidth"/>

                        <p:autoComplete id="desination_airport"
                                        value="#{bookingController.currentDestination}"
                                        completeMethod="#{bookingController.completeAirport}"
                                        converter="#{bookingController.airportDOConverter}"
                                        var="ap"
                                        itemLabel="#{ap.name}"
                                        itemValue="#{ap}"
                                        forceSelection="true"
                                        required="true"
                                        validatorMessage="Validation failed"
                                        requiredMessage="Destination airport required"
                                        >
                            <p:ajax update="@this @form:flightsTable"
                                    oncomplete="#{bookingController.updateAvailableFlights()}"/>
                        </p:autoComplete>


                    </h:panelGrid>


                </p:outputPanel>


                <p:outputPanel>
                    <p:calendar id="traveldate"
                                required="true"
                                validatorMessage="Departure date required"
                                value="#{bookingController.currentDate}"
                                label="Date"
                                mode="inline">

                        <p:ajax
                                event="dateSelect"
                                update="@form:flightsTable"
                                listener="#{bookingController.updateAvailableFlights}"/>
                    </p:calendar>
                </p:outputPanel>


            </p:panel>


            <p:panel>
                <p:dataTable id="flightsTable"
                             required="true"
                             emptyMessage="Choose a flight"
                             var="fl"
                             value="#{bookingController.availableFlights}"
                             selectionMode="single"
                             selection="#{bookingController.chosenFlight}"
                             rowKey="#{fl.id}">
                    <f:facet name="header">
                        Available Flights
                    </f:facet>
                    <p:column headerText="Flight Nr">
                        <h:outputText value="#{fl.id}"/>
                    </p:column>
                    <p:column headerText="Price">
                        <h:outputText value="#{fl.price}"/>
                    </p:column>
                    <p:column headerText="Departure">
                        <h:outputText value="#{fl.departureTimeFormatted}"/>
                    </p:column>
                    <p:column headerText="Arrival">
                        <h:outputText value="#{fl.arrivalTimeFormatted}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>

        </h:panelGrid>
    </p:panel>

</ui:composition>