<div class="tab-view">
  <p-messages name="msgBox" [value]="msgs" [closable]="false"></p-messages>
<!--p-growl [value]="msgs" ></p-growl -->
<p-tabView (onChange)="onClickTab($event)">
  <p-tabPanel header="Travel" [disabled]="true" [selected]="selectedTab === 0">
      <app-traveldetails></app-traveldetails>
  </p-tabPanel>
  <p-tabPanel header="Seat" [disabled]="true" [selected]="selectedTab === 1">
    <app-seatpicking></app-seatpicking>
  </p-tabPanel>
  <p-tabPanel header="Credentials" [disabled]="true" [selected]="selectedTab === 2">
    <app-credentials></app-credentials>
  </p-tabPanel>
  <p-tabPanel header="Payment" [disabled]="true" [selected]="selectedTab === 3">
    <app-payment></app-payment>
  </p-tabPanel>
  <p-tabPanel header="Confirmation" [disabled]="true" [selected]="selectedTab === 4">
    <app-confirmation></app-confirmation>
  </p-tabPanel>
</p-tabView>
</div>
