<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <h:form>



        <p:wizard id="bookingWizard" flowListener="#{bookingController.onFlowProcess}">
            <p:tab id="travelDetailsTab" title="Travel">
                <ui:include src="wizardflow/traveldetails.xhtml"/>
            </p:tab>
            <p:tab id="seatTab" title="Seat" cache="false">
                <ui:include src="wizardflow/seatdetails.xhtml"/>
            </p:tab>
            <p:tab id="credentialsTab" title="Personal">
                <ui:include src="wizardflow/credentials.xhtml"/>
            </p:tab>
            <p:tab id="paymentTab" title="Payment">
                <ui:include src="wizardflow/paymentdetails.xhtml"/>
            </p:tab>
            <p:tab id="confirmTab" title="Confirmation">
                <ui:include src="wizardflow/confirmationdetails.xhtml"/>
            </p:tab>
        </p:wizard>

        <f:facet name="footer">
            <p:messages id="bookingMessage" showDetail="true" autoUpdate="true" closable="true"/>
        </f:facet>

        <p:ajaxExceptionHandler type="javax.faces.application.ViewExpiredException"
                                onexception="handleSessionExpired();"/>

    </h:form>
</ui:composition>