<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h3>Dear #{bookingController.confirmationLetter.get("firstName")} #{bookingController.confirmationLetter.get("lastName")}, </h3>
    <p>Thank you for your booking! </p>


    <p>Seat #{bookingController.confirmationLetter.get("seat")} booked for flight: #{bookingController.confirmationLetter.get("flight")}</p>

    <p> bound for #{bookingController.confirmationLetter.get("arrivalName")} on #{bookingController.confirmationLetter.get("departureDate")}, #{bookingController.confirmationLetter.get("departureTime")} </p>


    <p>Arriving on #{bookingController.confirmationLetter.get("arrivalDate")},  #{bookingController.confirmationLetter.get("arrivalTime")}</p>

    <p>A mail confirmation mail has been sent to #{bookingController.confirmationLetter.get("mail")} </p>


</ui:composition>